@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #E0A458;
    --secondary-color: #DDC4DD;
    --accent1-color: #626C66;
    --accent2-color: #020202;

    --heading-font: 'Open-Sans', sans-serif;
    --paragraph-font: 'Open-Sans', sans-serif;

    --nav-background-color: #E0A458;
    --nav-link-color: #DDC4DD;
    --nav-hover-link-color: #626C66;
    --nav-hover-background-color: #020202;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 140px 7fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 150px;
}

header nav {
    display: flex;
    text-align: center;
    list-style: none;
}

header nav a {
    flex: 1 1 100%;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    padding: 10px;
}
.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.contact {
    margin: 1.5rem 0;
}

.contact p {
    font-size: large;
}

form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 1rem;
    background-color: #eee;
    border: #333 solid 1px;
    border-radius: 5px;
    padding: 1rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.text-overlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    width: 100%;
}
.book-a-trip {
    position: absolute;
    display: inline-block;
    text-align: center;
    align-content: center;
    align-self: center;
    top: 11rem;
    left: 60%;
    width: 40%;
    background-color: navy;
    color: #fff;
    padding: 10px 20px;
    border-radius: 9px;
    text-decoration: solid;
}
.book-a-trip:hover{
    background-color: lightskyblue;
}
input {
    width: 40%;
    height: 30px;
    padding: 0.7rem;
    font-size: 1rem;
}

.homepage-form {
    background-color: #eee;
    border-radius: 5px;
    padding: 1rem;
}
fieldset {
    border: none;
    margin: 0.5rem;
}

.line {
    border-right: black solid 1px;
    padding-right: 1.5rem;
}
.spacing {
    margin-bottom: 15px;
}
legend {
    font-size: 1.4rem;
    font-weight :bold;
    margin-bottom: 1rem;
}
button {
    margin: 1rem auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .7rem;
    font-size: .8rem;

}
button:hover {
    background-color: #333;
}
.happyemployee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: #333 solid 1px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}
.happyemployee img {
    width: 150px;
}

.happyclient  {
    float: right;
    position: absolute;
    top: 16%;
    left: 70%;
    width: 120px;
}

article p {
    text-align:left;
    vertical-align: middle;
    display: inline;
}

article {
    position: absolute;
    width: 60%;
    max-height: 50%;
    background-color: lightskyblue;
    opacity: 0.70;
    padding-left: 30px;
    padding-right: 20%;
    padding-bottom: 0%;
    top: 250px;
    left: 10px;
}

h2 {
    text-align: center;
}

.history p {
    padding: 1rem;
}

.history img {
    width: 170px;
}

section {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 35px;
    background-color: #eee;
    text-align: center;
}
section a {
    text-decoration: solid;
    background-color: navy;
    color: #fff;
    border-radius: .5rem;
    padding: .7rem;
    font-size: .8rem;
}
section a:hover{
    background-color: skyblue;
    color: #333;
}
section p {
    margin: 20px;
}

section img {
    width: 90%;
    padding: 10px;
}

section div {
    display: flex;
    text-align: center;
}
.responsive-image{
    max-width: 100%;
    height: auto;
}

h3 {
    margin : 1.5rem;
    padding-top: 10px;
}
aside {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    width: auto;
    word-spacing: 2px;
}

footer {
    margin: 1rem;
    display: grid;
    grid-template-columns: 90% 7.4rem 0rem;
    text-align: center;
    margin-top: 20px;
    max-width: 80%;
}